* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0fdf4; 
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

h1, h2 {
    color: #166534; 
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    margin-top: 40px;
    font-size: 2rem;
}

form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form label {
    font-size: 14px;
    font-weight: 600;
    color: #4b5563;
    margin-top: 10px;
}

form input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
    width: 100%;
}

form input:focus {
    border-color: #22c55e;
    box-shadow: 0 0 0 3px rgba(34, 197, 94, 0.2);
}

#btn {
    background-color: #22c55e;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 20px;
    width: 100%;
    max-width: 200px;
}

#btn:hover {
    background-color: #16a34a;
}

.btn {
    background-color: #16a34a;
    color: white;
    border: none;
    padding: 6px 14px;     
    border-radius: 6px;     
    font-size: 13px;  
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
    margin-right: 5px;
}

.btn:hover {
    background-color: #52cf80;
}

table {
    width: 100%;
    max-width: 900px;
    border-collapse: collapse;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    margin-top: 10px;
}

thead {
    background-color: #166534;
    color: white;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

th {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
}


#res {
    margin-top: 15px;
    font-weight: bold;
    color: #166534;
}
